@model Datos.Facturas

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipodePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipodePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documentocliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documentocliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalImpuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdFactura }) |
    @Html.ActionLink("Regresar", "Index")
</p>
